In [1]:
import os.path
import pickle
import re
import json
import pandas as pd

In [2]:
import os
os.getcwd()

'C:\\Users\\aiah2'

In [3]:
# כאןן תשנו למסלול של קבצי CSV 
os.chdir(r"C:\Users\aiah2\Downloads\Python\Project\VMs_outputs_2")

In [4]:
frames = []

for i in range(1,7):
    df_i = pd.read_csv(f'2_{i}'+'.csv', encoding="utf-8")
    frames.append(df_i)
    
data = pd.concat(frames)

C:\Users\aiah2\AppData\Local\Temp\ipykernel_5832\2891245287.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_i = pd.read_csv(f'2_{i}'+'.csv', encoding="utf-8")
C:\Users\aiah2\AppData\Local\Temp\ipykernel_5832\2891245287.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_i = pd.read_csv(f'2_{i}'+'.csv', encoding="utf-8")
C:\Users\aiah2\AppData\Local\Temp\ipykernel_5832\2891245287.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_i = pd.read_csv(f'2_{i}'+'.csv', encoding="utf-8")
C:\Users\aiah2\AppData\Local\Temp\ipykernel_5832\2891245287.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_i = pd.read_csv(f'2_{i}'+'.csv', encoding="utf-8")
C:\Users\aiah2\AppData\Local\Temp\ipykernel_5832\2891245287.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_i = pd.read_csv(f'2_{i}'+'.csv', encoding="utf-8")

In [5]:
data.shape

(4552195, 14)

In [6]:
data

,Unnamed: 0,TripId,OPERATOR_ID,CLUSTER_ID,LINE_SHORT_NAME,OriginAimedDepartureTime,ID,stopOrder,actualArrivalTime,actualDepartureTime,Linkref,linkTime,time_first_stop(s),Link_travel_time(s)
0,0,1382474,3,91,106,2023-02-03 01:00:00.000,10106_1,2,2023-02-03T01:04:21,2023-02-03T01:05:10,4156:800,261,39,222
1,1,1382474,3,91,106,2023-02-03 01:00:00.000,10106_1,3,2023-02-03T01:05:59,2023-02-03T01:06:14,800:3375,98,49,49
2,2,1382474,3,91,106,2023-02-03 01:00:00.000,10106_1,4,2023-02-03T01:08:45,2023-02-03T01:08:59,3375:2024,166,15,151
3,3,1382474,3,91,106,2023-02-03 01:00:00.000,10106_1,5,2023-02-03T01:09:25,2023-02-03T01:09:42,2024:9862,40,14,26
4,4,1382474,3,91,106,2023-02-03 01:00:00.000,10106_1,6,2023-02-03T01:10:20,2023-02-03T01:10:36,9862:6134,55,17,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727964,727964,23207034,3,91,15,2023-02-28 23:45:00.000,59015_2,21,2023-03-01T00:00:12,2023-03-01T00:00:20,2258:6269,121,17,104
727965,727965,23207034,3,91,15,2023-02-28 23:45:00.000,59015_2,22,2023-03-01T00:00:40,2023-03-01T00:01:02,6269:6299,28,8,20
727966,727966,23207034,3,91,15,2023-02-28 23:45:00.000,59015_2,23,2023-03-01T00:02:45,2023-03-01T00:03:54,6299:1106,125,22,103
727967,727967,23207034,3,91,15,2023-02-28 23:45:00.000,59015_2,24,2023-03-01T00:03:56,2023-03-01T00:05:44,1106:5200,71,69,2
727968,727968,23207034,3,91,15,2023-02-28 23:45:00.000,59015_2,25,2023-03-01T00:08:23,2023-03-01T00:08:50,5200:1540,267,108,159